@import url('https://fonts.googleapis.com/css?family=Orbitron');
.MMM-NBA .wrapper{
  text-align: justify;
  width: 450px;
}
.MMM-NBA .header {
  color: #fff;
  text-align: center;
}
.MMM-NBA .font {
	font-family: 'Orbitron', sans-serif;
}
.MMM-NBA .status {
  font-family: 'Orbitron', sans-serif;
  color: #ee0000;
  font-size: 18px;
}
.MMM-NBA .r {
  color: #c6d9d0;
}
.MMM-NBA .h {
  color: #c6d9d0;
}
.MMM-NBA .e {
  color: #c6d9d0;
}
.MMM-NBA .hometeam {
  color: #e4e4e4;
  font-size: 16px;
}
.MMM-NBA .awayteam {
  color: #e4e4e4;
  font-size: 16px;
}
.MMM-NBA .logo {
	height: 25px;
	width: 25px;
}
.MMM-NBA .preview {
	color: #e4e4e4;
}
